.container {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.botao {
    display: inline-block;
    background: linear-gradient( #f8bb00, #f2a50c);
    color: var(--cor-p5);
    font-weight: bold;
    padding: 16px 32px;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    font-family: "Poppins";
    font-weight: 600;
    max-width: max-content;
}

.botao:hover {
    background: linear-gradient( var(--cor-p2), var(--cor-p1));
    background-color: var(--cor-p1);
}

.botao.secundario {
    background: var(--cor-10);
    color: var(--cor-0);
}

.botao.secundario:hover {
    background: var(--cor-9);
}

.botao.seta {
    display: flex;
    align-items: center;
}

.botao.seta::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 10px;
    margin-left: 12px;
    background: url("../../img/icones/seta.svg");
    transition: transform 2s;
}

.botao.seta:hover::after {
    transform: translateX(10px);
}

@media (max-width: 600px) {
    .botao {
        padding: 12px 16px;
        font-size: 16px;
    }
}

.link {
    display: inline-block;
    color: var(--cor-p1);
    font: 500 1.5rem/1.5 "Poppins", sans-serif;
    text-transform: uppercase;
    position: relative;
}

.link::after {
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    background: currentColor;
    position: absolute;
    left: 0;
    top: 35px;
}

.link:hover {
    color: var(--cor-0);
}


/* Titulos internos */

.titulo-bg {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--cor-11);
}

.titulo p {
    margin-bottom: 4px;
}

@media (max-width: 800px) {
    .titulo-bg {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .titulo p {
        font-size: 1rem;
        text-transform: lowercase;
        font-weight: 400;
    }
}