.depoimento {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--cor-p1);
    overflow: hidden;
}

.depoimento img {
    border-radius: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.depoimento-conteudo {
    padding: 40px 40px 80px 80px;
    align-self: flex-end;
}
.depoimento-conteudo p {
    max-width: 32ch;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 32px;
    position: relative;

}
.depoimento p::before {
    content: '“';
    font-size: 5rem;
    color: var(--cor-p2);
    position: absolute;
    left: -50px;
    top: -26px;
}
.depoimento p::after {
    content: '”';
    font-size: 5rem;
    color: var(--cor-p2);
    position: absolute;
    right: 55px;
    top:250px;
}

@media (max-width:800px) {
    .depoimento {
        grid-template-columns: 1fr;
    }
    .depoimento img {
        height: 240px;
    }
    .depoimento-conteudo {
        padding: 40px 20px ;
        justify-self: center;
    }
}