.vantagens-bg {
    background-color: var(--cor-12);
}

.vantagens {
    padding: 120px 20px;
}

.vantagens h2 {
    margin-bottom: 60px;
}

.vantagens ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 80px;
}

.vantagens h3,
.vantagens img {
    margin-bottom: 8px;
}

@media (max-width: 800px) {
    .vantagens ul {
        grid-template-columns: 1fr 1fr;
        gap: 20px 40px;
    }
}