.termos {
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.termos h2 {
    font-weight: 600;
    margin-bottom: 20px;
}
.termos p {
    margin-bottom: 24px;
    max-width: 64ch;
}

.termos p + h2 {
    margin-top: 40px;
}